      <style>
        body{
          background: url(https://images.unsplash.com/photo-1517816743773-6e0fd518b4a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80);
          background-size: cover;
          background-position: center center;
        }
      </style>
      <div class="custom-wrap">
        <h1 class="cover-heading">AutoDex</h1>
        <p class="lead">Find and add your favorite cars using the form below. This application uses NHTSA API to grab vehicle information and Unsplash API to pull vehicle images.</p>

        <form action="/cars" method="GET">
            <label class="font-weight-bold mt-2" for="selectmake">Select Make</label>
            <select class="form-control form-control-lg" name="selectmake" id="selectmake">
            <% data.forEach(element => { %>
                <% if(element.Country === 'UNITED STATES (USA)' && element.Mfr_CommonName !== null && element.Mfr_CommonName !== 'Buell' && element.Mfr_CommonName !== 'Volvo (Truck/Bus') { %>
                <option value="<%= element.Mfr_CommonName %>"><%= element.Mfr_CommonName %></option>
                <% } %>
            <% }); %>
            </select>
                <button class="brn btn-lg btn-primary mt-2" type="submit">Search AutoDex</button>
        </form>
      </div>
