<h2>AutoDex</h2>

<form action="/cars" method="GET">
    <label for="selectmake">Select Make</label>
    <select name="selectmake" id="selectmake">
    <% data.forEach(element => { %>
        <% if(element.Country === 'UNITED STATES (USA)' && element.Mfr_CommonName !== null) { %>
        <option value="<%= element.Mfr_CommonName %>"><%= element.Mfr_CommonName %></option>
        <% } %>
    <% }); %>
    </select>
    <button type="submit">Search</button>
</form>